<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Welcome to my resume chatterbox</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>ChatterBox</strong> is an interactive tool to make reading my resume a bit less boring.
                    Leveraging gpt-4o-mini LLM chatterbox gives insightful answers about my skills and experiances.
                    It is a custom tool so excuse any quirks.
                </p>
                <p>Here’s how to use chatterbox effectively:</p>
                <ul>
                    <li><strong>Ask Questions:</strong> Enter a question about my experience, skills, or background in the text box and click "Ask."</li>
                    <li><strong>Get Instant Answers:</strong> ChatterBox will provide detailed answers based on my resume.</li>
                    <li><strong>Download the Resume:</strong> Use the "Download Resume" button to access a PDF copy of my resume.</li>
                    <li><strong>Report Issues:</strong> If you encounter any issues, click "Report Bug" so I can have a look.</li>
                </ul>
                <p>
                    This tool is built to save you (and me) time. The source code is available for your perusal on github.
                </p>
                <p>
                    <a href="https://github.com/lrnd/resume-assit-bot" target="_blank" class="btn btn-outline-primary">
                        View on GitHub
                    </a>
                </p>
                <hr>
                <p class="text-muted text-center">
                    <strong>Contact me:</strong><br>
                    Email: <a href="mailto:seanphilliptaylor@gmail.com">seanphilliptaylor@gmail.com</a><br>
                    Phone: +61 426 686 010<br>
                    LinkdIn: <a href="https://www.linkedin.com/in/sean-taylor-27096b1a3/">Sean Taylor</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

